li {
  /* list-style-image nos permite cambiar los puntos de la lista por una imagen */
  /* list-style-position para posicionar mejor las imagenes */
  /* inside para que quede desplazado a la derecha */
  /* outside para que quede desplazado a la izquierda */
  /* list-style-image: url(css-3.png); */
  list-style-type: disclosure-closed;
  list-style-position: outside;
}

li::marker {
  color: red;
  font-size: 20px;
}
